<footer class="footer">
            <div>
                <p>&copy; {{ site.author }}</p>
                <p>texto</p>
            </div>
            <div>
                <p>texto</p>
                <p>texto</p>
            </div>
        </footer>
    </div>
</body>
</html>